<form [formGroup]="firstContactForm" data-netlify="true" name="wrapper-form" action="/">
  <input type="hidden" name="form-name" value="contact" />

  <div class="container mb-5">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label class="label">Ansprechpartner</label>
                <input class="input" class="form-control" type="text" formControlName="name" placeholder="Name">
            </div>
            <p>
              <button (click)="submitForm()">Send</button>
            </p>
        </div>
    </div>
</form>
