<!--<form [formGroup]="firstContactForm" data-netlify="true" name="contact" action="/">
    <div class="container mb-5">
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <label class="label">Ansprechpartner</label>
                <input class="input" class="form-control" type="text" formControlName="name" placeholder="Name">
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <label class="label">Email-Adresse</label>
              <input class="input" class="form-control" type="email" formControlName="email" placeholder="E-Mail">
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <label class="label">Zeithorizont</label>
              <input class="text" class="form-control" type="number" formControlName="time" placeholder="Time">
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label class="label">Budget</label>
                <input class="text" class="form-control" type="number" formControlName="budget" placeholder="Budget">
            </div>

            <div class="form-group col-xs-12 col-sm-12">
                <label class="label">Projektbeschreibung</label>
                <textarea type="text" rows="8"  formControlName="description"  class="form-control"
                          placeholder="Projektbeschreibung" id="description"
                          name="description"></textarea>
            </div>

            <p>
              <button type="submit">Send</button>
            </p>
        </div>
    </div>
</form>-->
<form name="contact" method="POST" netlify data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
